<!--Extend Netbox provided base webpage template and load resources-->
{% extends 'base.html' %} {% load render_table from django_tables2 %} 
{% block content %}

<h2 style="text-align: center">Netbox QR Code Menu</h2>

<!--Prevent page reload form resubmission-->
<script>
  if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
</script>

<!--Reloading QR codes handled by post request-->
<form method="POST">
  {% csrf_token %}
  <div class="text-center">
    <input
      class="btn btn-primary btn-md"
      type="submit"
      name="reload"
      value="Reload QR Codes"
    />
  </div>
  {{ successMessage |safe }}
</form>

<!--Direct to Rack page-->
<div class="text-left">
  <a class="btn btn-primary" href="/plugins/netbox_qrcode/devices">Devices</a>
  <a class="btn btn-primary" href="/plugins/netbox_qrcode/racks">Racks</a>
  <a class="btn btn-primary" href="/plugins/netbox_qrcode/cables">Cables</a>
</div>

<!--Div to hold table and search components-->
<div class="row">
  <div class="col-md-12">
    <!--Div to hold all table components-->
    <div class="col-md-9">
      <!--POST form for checkbox submission-->
      <form method="POST" action="print/">
        {% csrf_token %}
        <h3>{% block title %}Devices{% endblock %}</h3>
        <!--Device Table-->
        <div class="row">
          <div>
            <!--Table variable from views.py-->
            {% render_table table_device %}

            <!--Print Button-->
            <div class="panel-footer text-left">
              <input
                class="btn btn-warning btn-sm"
                type="submit"
                value="Print Selected"
              />
              <!--Print QR code without text-->
              <input type="checkbox" id="text-device" name="without_text" value="without_text" style="margin-left: 20px"/>
              <label for="text-device">Print without text</label>
              <span aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <!--Specify object type-->
        <input type="hidden" name="obj_type" value="Devices" />
      </form>
    </div>

    <!--Filter Functionality-->
    <div class="col-md-3 pull-right right-side-panel noprint" style="padding-top: 50px">
      {% load form_helpers %}
      {% include 'inc/search_panel.html' %}
      <div style="padding-bottom: 100px"></div>
    </div>
  </div>
</div>

{% endblock %}
